$font-family: Arial, Helvetica, sans-serif;


$laptop-app-padding: 20px 0 0 0;

$laptop-width-content: 1000px;

$laptop-navbar-height: 50px;
$laptop-profile-main-width: 200px;
$laptop-profile-main-grid-width: 250px;
$laptop-profile-main-grid-height: 200px;

$laptop-header-height: 150px;
$laptop-footer-height: 150px;

$max-mobile-width: 767px;

$min-tablet-width: 768px;
$max-tablet-width: 1023px;

$min-laptop-width: 1024px;